@using Microsoft.AspNetCore.Identity
@using InvestorCenter.Areas.Identity.Data

@inject SignInManager<InvestorCenterUser> SignInManager
@inject UserManager<InvestorCenterUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
            </form>
        </li>
        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Admin
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" asp-controller="Trading" asp-action="AddStock">Add Stock</a></li>
                    <li><a class="dropdown-item" asp-controller="Admin" asp-action="Settings">Site Settings</a></li>
                    <li><a class="dropdown-item" asp-controller="News" asp-action="AddNews">Add News Article</a></li>
                    <li><a class="dropdown-item" asp-controller="News" asp-action="ManageNews">Manage News</a></li>
                    <li><a class="dropdown-item" asp-controller="Trading" asp-action="ManageStocks">Manage Stocks</a></li>
                </ul>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Wallet" asp-action="Index" title="My Wallet">
                <strong>Balance: @user.Balance.ToString("C", new System.Globalization.CultureInfo("en-US"))</strong>
            </a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
